.header{
    display: flex;
    
}
.fy,
.following{
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
    width: 292.1px;
    height: 53px;
    font-size: 15px;
   border-bottom-width:1px ;
   border-bottom-color: rgba(255, 255, 255, 0.20);
   border-bottom-style: solid;
}
.following{
    width: 306.3px;
}